<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <!-- <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account> -->
      <app-active
      (setInactive)="onSetToInactive($event)"></app-active>
      <hr>
      </div>

      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <!-- <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account> -->
        <app-inactive
        (setActive)="onSetToActive($event)"></app-inactive>
        <hr>
        </div>
  </div>
</div>
