<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
     <div *ngIf = "onlyOdd">
        <li
          class="list-group-item"
          [ngClass] = "{odd: odd % 2 !== 0}"
          [ngStyle] = "{backgroundColor: odd%2 !== 0 ? 'yellow': 'transparent'}"
          *ngFor = "let oddNumber of odd">
          {{oddNumber}}
        </li>
     </div>
      </ul>
      <ul class="list-group">
      <div *ngIf = "!onlyOdd">
        <li
          class="list-group-item"
          appBasicHighlight
          *ngFor = "let evenNumber of even">
          {{evenNumber}}
        </li>
      </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p appBetterHighlight>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
